<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>My Standard-Calculator</title>
        <style>
        .calc{
            width:600px;
            height:475px;
            margin-left:auto;
            margin-right:auto;
            background-color:gray;

        }
        #result{
            background-color:white;
            text-align:right;
        }
        .calc_title{
            text-align:center;
            
        }
        .size{
            padding:16px;
        }
        .color{
            color:red;
        }
        </style>
        <script>
        function calculate(args)
        {
            res = document.getElementById("result")
            expression = res.innerText;
            cmd = args.srcElement.innerText;
            if (cmd == "=")
            {
                expression = ""+eval(expression);
            }
            else if(cmd =="C"){
                expression=" ";
            }
            else{
               expression = expression +cmd;
            }
            res.innerText = expression;
            // alert("clicked")

        }
        </script>
    </head>
    <body>
        <div class="calc">
            <div class="calc_title">
               <h1>STANDARD CALCULATOR</h1>
            </div>
        <div id="result">0</div>
        <div class="size">
         <button onclick="calculate(event);" class="size">0</button>
         <button onclick="calculate(event);" class="size">1</button>
         <button onclick="calculate(event);" class="size">2</button>
         <button onclick="calculate(event);" class="size">+</button>
        </div>
        <div class="size">
         <button onclick="calculate(event);" class="size">3</button>
         <button onclick="calculate(event);" class="size">4</button>
         <button onclick="calculate(event);" class="size">5</button>
         <button onclick="calculate(event);" class="size">-</button>
        </div>
        <div class="size">
         <button onclick="calculate(event);" class="size">6</button>
         <button onclick="calculate(event);" class="size">7</button>
         <button onclick="calculate(event);" class="size">8</button>
         <button onclick="calculate(event);" class="size">*</button>
        </div>
         <div class="size">
         <button onclick="calculate(event);" class="size">9</button>
         <button onclick="calculate(event);" class="size">/</button>
         <button onclick="calculate(event);" class="size">C</button>
         <button onclick="calculate(event);" class="size">=</button>
        </div>
       </div>
    </body>
</html>